{% extends 'all-drivers/base.html' %}
{% load staticfiles%}
{% load bootstrap3%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    <script src="https://use.fontawesome.com/80caa23151.js"></script>


{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <!-- Navbar -->

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="container"> 

                <div class="navbar-header">

                    <a href="{%url 'driver' driver.id%}" class="navbar-brand siteIcon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'driver' driver.id%}" class="navbar-brand siteName">Car Poolers</a>

                </div>

                <div class="navbar-center">

                    <a href="{%url 'newJourney' driver.driverprofile.id%}">
                        <h2>
                            New Journey
                        </h2>
                    </a>

                    <a href="{%url 'passengers' driver.id%}">
                        <h2>
                            Passengers
                        </h2>
                    </a>
                    
                </div>

                <div class="navbar-right">

                    <a href="{%url 'driver' driver.id%}" class="userIcon">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>

                    <a href="{%url 'index'%}" class="signOut">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                </div>

            </div>

        </div>

    </nav>

    <div class="container">
        
        <div class="row travelPlans">

            {% for travel_plan in travel_plans %}
                <h2>
                    Travel Date : {{travel_plan.travel_date}}
                </h2>

                <br>

                <h2>
                    Current Location : {{travel_plan.current_location}}
                </h2>

                <br>

                <h2>
                    Destination : {{travel_plan.destination}}
                </h2>

                <br>

                <h2>
                    Space Left : {{travel_plan.driver_profile.car_capacity}}
                </h2>

                <hr>

            {% endfor %}

        </div>

    </div>

{% endblock %}

