{% extends 'all-drivers/base.html' %}
{% load staticfiles%}
{% load bootstrap3%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    <script src="https://use.fontawesome.com/80caa23151.js"></script>


{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <!-- Navbar -->

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="container"> 

                <div class="navbar-header">

                    <a href="{%url 'driver' driver.id%}" class="navbar-brand siteIcon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'driver' driver.id%}" class="navbar-brand siteName">Car Poolers</a>

                </div>

                <div class="navbar-right">

                    <a href="#" class="exploreIcon">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'driver' driver.id%}" class="userIcon">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>

                    <a href="{%url 'index'%}" class="signOut">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                </div>

            </div>

        </div>

    </nav>

    <div class="container">

        <div class="row driverRow">

            <!-- Profile Image -->
            <div class="col md-6 col-lg-6">

                {% if driver_profile.profile_pic%}

                    <img src="{{driver_profile.profile_pic.url}}" alt="{{driver.first_name}} {{driver.last_name}}" class="img-responsive profilePicture">

                {% else %}

                    <img src="{%static 'images/user-icon.png'%}" alt="{{driver.first_name}} {{driver.last_name}} Profile Image" class="img-responsive profilePicture">

                {% endif %}

            </div>

           <!-- Driver's Info -->
            <div class="col md-6 col-lg-6">

                <h1>
                    {{driver.first_name}} {{driver.last_name}}
                </h1>

                <br>

                <h1>
                    Phone number : +254{{driver.phone_number}}
                </h1>

                <br>

                <h1>
                    Gender : {{driver_profile.gender}}
                </h1>

            </div>

        </div>

        <div class="row carRow">

            <!-- Car Image -->
            <div class="col-md-6 col-lg-6">

                {% if driver_profile.car_image%}

                    <img src="{{driver_profile.car_image.url}}" alt="{{driver.first_name}} {{driver.last_name}}'s Car"  class="img-responsive carImage">

                {%else%}

                    <img src="{%static 'images/car-default.png'%}" alt="{{driver.first_name}} {{driver.last_name}}'s Car"  class="img-responsive carImage">

                {% endif %}
                
            </div>
            
            <!-- Car Info -->
            <div class="col-md-6 col-lg-6">

                <h1>
                    Number plate : {{driver_profile.car_number_plate}}
                </h1>

                <br>

                <h1>
                    Car Color : {{driver_profile.car_color}}
                </h1>

                <br>

                <h1>
                    Car Capacity : {{driver_profile.car_capacity}}
                </h1>

            </div>
            
        </div>

        <div class="row updateRow">
            
            <h1>
                <a href="{%url 'updateDriverProfile' driver.id%}">Update Profile</a>
            </h1>

        </div>

    </div>

{% endblock %}