{% extends 'all-drivers/base.html' %}
{% load staticfiles%}
{% load bootstrap3%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    <script src="https://use.fontawesome.com/80caa23151.js"></script>


{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <!-- Navbar -->

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="container"> 

                <div class="navbar-header">

                    <a href="{%url 'driver' driver.id%}" class="navbar-brand siteIcon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'driver' driver.id%}" class="navbar-brand siteName">Car Poolers</a>

                </div>

                <div class="navbar-center">

                    <a href="{%url 'newJourney' driver.driverprofile.id%}">
                        <h2>
                            New Journey
                        </h2>
                    </a>

                    <a href="{%url 'passengers' driver.id%}">
                        <h2>
                            Passengers
                        </h2>
                    </a>
                    
                </div>

                <div class="navbar-right">

                    <a href="{%url 'driver' driver.id%}" class="userIcon">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>

                    <a href="{%url 'index'%}" class="signOut">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                </div>

            </div>

        </div>

    </nav>

    <div class="container">

        <form action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            
            <div class="form-group">
                
                {{driver_profile_form.profile_pic.label}}
                {{driver_profile_form.profile_pic}}
                {{driver_profile_form.profile_pic.errors}}

            </div>
            
            <div class="form-group">
                
                {{driver_profile_form.gender.label}}
                {{driver_profile_form.gender}}
                {{driver_profile_form.gender.errors}}

            </div>

            <div class="form-group">
                
                {{driver_profile_form.car_image.label}}
                {{driver_profile_form.car_image}}
                {{driver_profile_form.car_image.errors}}

            </div>
            
            <div class="form-group">
                
                {{driver_profile_form.car_number_plate.label}}
                {{driver_profile_form.car_number_plate}}
                {{driver_profile_form.car_number_plate.errors}}

            </div>
            
            <div class="form-group">
                
                {{driver_profile_form.car_capacity.label}}
                {{driver_profile_form.car_capacity}}
                {{driver_profile_form.car_capacity.errors}}

            </div>
            
            <div class="form-group">
                
                {{driver_profile_form.car_color.label}}
                {{driver_profile_form.car_color}}
                {{driver_profile_form.car_color.errors}}

            </div>

            <input type="submit" class="btn btn-primary btn-sm" value="Update Profile">

        </form>

    </div>

{% endblock %}
