/*Style index template*/
h1.welcome {
    text-align: center;
    margin-top: 1.5em;
    color: #03256C;
}

div.row.driverRow, div.row.passengerRow {
    text-align: center;
/*    border: 0.05em solid #000;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background-color: #06BEE1;*/
}

div.row.driverRow {
    margin-top: 3em;
}

div.row.passengerRow {
    margin-top: 10em;
}

div.row.driverRow > li > h1 > a,  div.row.passengerRow > li > h1 > a {
    color: #2541B2;
}

div.row.driverRow > li > h1 > a:hover,  div.row.passengerRow > li > h1 > a:hover {
    color: #2541B2;
    text-decoration: none;
}

h1.welcome, div.row.driverRow > li > h1 > a,  div.row.passengerRow > li > h1 > a  {
  color: #03256C;
  position: relative;
  /* Chrome and Safari*/
  -webkit-animation-name: replacement -animation;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  /*Firefox*/
  -moz-animation-name: replacement-animation;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  /*Opera*/
  -o-animation-name: replacement-animation;
  -o-animation-duration: 4s;
  -o-animation-iteration-count: infinite;
  animation-name: replacement-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/*Chrome and Safari*/

@-webkit-keyframes replacement-animation {
  0% {
    color: #03256C;
  }
  25% {
    color: #2541B2;
  }
  50% {
    color: #1768AC;
  }
  75% {
    color: #06BEE1;
  }
  100% {
    color: #2E86C1;
  }
}

/*Fifefox*/

@-moz-keyframes replacement-animation {
  0% {
    color: #03256C;
  }
  25% {
    color: #2541B2;
  }
  50% {
    color: #1768AC;
  }
  75% {
    color: #06BEE1;
  }
  100% {
    color: #2E86C1;
  }
}

/*Opera*/

@-o-keyframes replacement-animation {
  0% {
    color: #03256C;
  }
  25% {
    color: #2541B2;
  }
  50% {
    color: #1768AC;
  }
  75% {
    color: #06BEE1;
  }
  100% {
    color: #2E86C1;
  }
}
