{% extends 'all-passengers/base.html' %}
{% load staticfiles%}
{% load bootstrap3%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/passenger/review.css'%}">
    <script src="https://use.fontawesome.com/80caa23151.js"></script>


{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <!-- Navbar -->

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="container"> 

                <div class="navbar-header">

                    <a href="{%url 'passenger' passenger.id%}" class="navbar-brand siteIcon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'passenger' passenger.id%}" class="navbar-brand siteName">Car Poolers</a>

                    <a href="{% url 'passenger' passenger.id%}" class="homeOnPhone">
                    <i class="glyphicon glyphicon-home"></i>

                </div>

                <div class="navbar-center">

                    <a href="{%url 'drivers'  passenger.id%}">
                        <h2 class="driversLink">
                            Drivers
                        </h2>
                    </a>

                    <a href="{%url 'driverNearMe' passenger.id%}" class="exploreIcon">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                    </a>

                </div>

                <div class="navbar-right">

                    <a href="{%url 'passenger' passenger.id%}" class="userIcon">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>

                    <a href="{%url 'index'%}" class="signOut">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                </div>

            </div>

        </div>

    </nav>

    <hr>

    <div class="container">

        <div class="row">
            {% if close_drivers %}
                <h2>
                    
                    Found {{close_drivers|length}} drivers near you

                </h2>

            {% else %}

                <h2>

                    Found 0 near {{message}}

                </h2>

            {% endif %}
        </div>

        {% if close_drivers %}

        <div class="row driverProfilesRow">

            <!-- Empty Div -->
            <div class="col-md-2 col-lg-2">
                
            </div>

            <!-- Driver Profiles column -->

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                {% for close_driver in close_drivers %}

                    <!-- Profile Div -->

                    <div class="panel panel-default">

                        <div class="panel-body">
                            
                            <a href="{% url 'seeRide' passenger.id close_driver.id%}">

                                {% if close_driver.driver_profile.profile_pic%}

                                    <img src="{{close_driver.driver_profile.profile_pic.url}}" alt="{{close_driver.driver_profile.driver.first_name}} {{close_driver.driver_profile.driver.last_name}}" class="img-responsive profilePicture">

                                {% else %}

                                    <img src="{%static 'images/user-icon.png'%}" alt="{{close_driver.driver_profile.driver.first_name}} {{close_driver.driver_profile.driver.last_name}} Profile Image" class="img-responsive profilePicture">

                                {% endif %}

                                <h2 class="driverName">
                                    {{close_driver.driver_profile.driver.first_name}} {{close_driver.driver_profile.driver.last_name}}
                                </h2>

                                <h2 class="driverDestiantion">
                                    Destination : {{close_driver.destination}}
                                </h2>

                                <h2 class="driverTravelDate">
                                    Travel Time : {{close_driver.travel_date}}
                                </h2>
                                
                            </a>

                        </div>
                    
                    </div>

                {% endfor %}

            </div>

            <!-- Empty Div -->
            <div class="col-md-2 col-lg-2">
                
            </div>
            
      

        </div>
        
        {% endif %}

    </div>

{% endblock %}