{% extends 'all-passengers/base.html' %}
{% load staticfiles%}
{% load bootstrap3%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    <script src="https://use.fontawesome.com/80caa23151.js"></script>


{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <!-- Navbar -->

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="container"> 

                <div class="navbar-header">

                    <a href="{%url 'passenger' passenger.id%}" class="navbar-brand siteIcon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'passenger' passenger.id%}" class="navbar-brand siteName">Car Poolers</a>

                </div>

                <div class="navbar-right">

                    <a href="#" class="exploreIcon">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'passenger' passenger.id%}" class="userIcon">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>

                    <a href="{%url 'index'%}" class="signOut">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                </div>

            </div>

        </div>

    </nav>

    <div class="container">
    
        <div class="row passengerRow">

            <!-- Profile Image -->
            <div class="col md-6 col-lg-6">

                {% if passenger_profile.profile_pic%}

                    <img src="{{passenger_profile.profile_pic.url}}" alt="{{passenger.first_name}} {{passenger.last_name}}" class="img-responsive profilePicture">

                {% else %}

                    <img src="{%static 'images/user-icon.png'%}" alt="{{passenger.first_name}} {{passenger.last_name}} Profile Image" class="img-responsive profilePicture">

                {% endif %}

            </div>

           <!-- Passenger's Info -->
            <div class="col md-6 col-lg-6">

                <h1>
                    {{passenger.first_name}} {{passenger.last_name}}
                </h1>

                <br>

                <h1>
                    Phone number : +254{{passenger.phone_number}}
                </h1>

                <br>

                <h1>
                    Gender : {{passenger_profile.gender}}
                </h1>

                <br>

                <h1>
                    General Location : {{passenger_profile.general_location}}
                </h1>

            </div>

        </div>


        <div class="row updateRow">
            
            <h1>
                <a href="{%url 'updatePassengerProfile' passenger.id%}">Update Profile</a>
            </h1>

        </div>

    </div>

{% endblock %}