{% extends 'all-passengers/base.html' %}
{% load staticfiles%}
{% load bootstrap3%}

<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/reviews.css'%}">
    <script src="https://use.fontawesome.com/80caa23151.js"></script>


{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <!-- Navbar -->

    <nav class="navbar navbar-inverse">

        <div class="container-fluid">

            <div class="container"> 

                <div class="navbar-header">

                    <a href="{%url 'passenger' passenger.id%}" class="navbar-brand siteIcon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'passenger' passenger.id%}" class="navbar-brand siteName">Car Poolers</a>

                </div>

                <div class="navbar-right">

                    <a href="{%url 'drivers'  passenger.id%}">
                        <h2>
                            Drivers
                        </h2>
                    </a>

                    <a href="{%url 'driverNearMe' passenger.id%}" class="exploreIcon">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                    </a>

                    <a href="{%url 'passenger' passenger.id%}" class="userIcon">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>

                    <a href="{%url 'index'%}" class="signOut">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>

                </div>

            </div>

        </div>

    </nav>

    <div class="container">

        <div class="row driverProfilesRow">
            
            {% for driver_profile in driver_profiles %}

                <!-- Profile Div -->

                <div class="col-md-10 col-lg-10 well">

                    <a href="{% url 'driverProfile' passenger.id driver_profile.id%}">

                        {% if driver_profile.profile_pic%}

                        <img src="{{driver_profile.profile_pic.url}}" alt="{{driver_profile.driver.first_name}} {{driver_profile.driver.last_name}}" class="img-responsive profilePicture">

                        {% else %}

                            <img src="{%static 'images/user-icon.png'%}" alt="{{driver.first_name}} {{driver.last_name}} Profile Image" class="img-responsive profilePicture">

                        {% endif %}

                        <h6 class="username">
                            {{driver_profile.driver.first_name}} {{driver_profile.driver.last_name}}
                        </h6>
                        
                    </a>
                
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}




