/*Style the navbar*/
div.container {
    margin-top: 0.75em;
}

.navbar{
    background-color: #fff;
    border-color: #fff;
}

.siteIcon{
    margin-top: -5%;
    font-size: 3.5em;
    margin-right: 0.5em;
}

.siteName{
    font-size: 2.5em;
    color: #000;
    border-left: 0.05em solid #000;
    padding-left: 0.75em;
}

div.navbar-center {
    display: inline-flex;
}

.newJourneyLink, .passengersLink {
    margin-top: 4%;
}

.newJourneyLink {
    margin-left: 2em;
}

.passengersLink {
    margin-left: 4em;
}

.userIcon, .signOut {
    font-size: 3em;
    color: #000;
}

.signOut {
    margin-left: 1em;
}

a.navbar-brand.siteIcon, a.navbar-brand.siteName, div.navbar-center > a {
    color: #000;
}

a.navbar-brand.siteIcon:hover, a.navbar-brand.siteName:hover, a.userIcon:hover, a.signOut:hover, div.navbar-center > a:hover {
    color: #000;
    text-decoration: none;
}